@media (max-width: 768px){
   .mood-element{
       flex-direction: column;
       align-items: center;
       justify-content: center
   }
   .user-video-feed{
       height: 50vw;
    width: 90%;
    border-radius: 10px;
    object-fit: cover;
    margin: 1rem 1rem;
   }
  
   .user-button{
    padding: 0.6rem 0.9rem;
    border-radius: 5px;
    font-size: 0.6rem;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    width: 100px;
    color: rgb(7, 6, 6);
    margin-left: 1rem;
    margin-top: 0.1rem;
    opacity: 0.9;
    border: none;
    cursor: pointer;
    background: linear-gradient(135deg, #40ffaa, #4079ff); 
}
.user-button:active{
    scale:0.94;
     background: linear-gradient(135deg, #34d28b, #3460c7); 
}

 .des-sec p{
       max-width: 100%;
       color: #7a7a7a;
       font-family: Arial, Helvetica, sans-serif;
       font-size: 0.7rem;
       padding: 0.3rem 0.8rem;
       line-height: 1.2;
   }


}





@media (min-width: 768px){
    .mood-element{
    /* width: 100%; */
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 3rem;
    justify-content: flex-start;
}
.des-sec{
    display: flex;
    flex-direction: column;
    padding-left: 0.8rem;
}

.des-sec p{
    color: #7a7a7a;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 0.8rem;
    line-height: 1.3;
    margin-top: 1.2rem;
    max-width: 400px;
}

.user-button{
    padding: 0.7rem 1rem;
    border-radius: 5px;
    font-size: 0.7rem;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    width: 100px;
    color: rgb(7, 6, 6);
    opacity: 0.9;
    border: none;
    cursor: pointer;
    background: linear-gradient(135deg, #40ffaa, #4079ff); 
}
.user-button:active{
    scale:0.94;
     background: linear-gradient(135deg, #34d28b, #3460c7); 
}

.user-video-feed{
    height: 200px;
    width: 350px;
    border-radius: 10px;
    object-fit: cover;
}
}